#beader {
    position: sticky;
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* temporary background colour*/
    background-color: brown;
}
#beader > div a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 90%;
    padding: 0 10px;
    background-color: brown;

    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-size: 150%;
}
#beader > div a:hover {
    color: wheat;
}

#Main {
    position: relative;
    width: 100%;
    height: auto;
    /* temporary background colour*/
    /* background-color: blue; */
}

#mostRecent {
    background-color: burlywood;
}
#mostRecent > div {
    text-align: center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(227, 145, 116);
    margin: auto;
    width: 50%;
}

#adLeft {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 5%;
}
#adRight {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

#serchbar {
    text-align: center;
}

#search_tags {
    margin: auto;
    background-color: beige;
}

#submit_button {
    width: 50%;
    background-color: rgb(227, 145, 116);
    border: none;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}



.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid > div {
    margin: auto;
    background-color: burlywood;
    color: brown;
    width: 60%;
    border-radius: 3%;
}

.advert {
    display: grid;
    grid-template-columns: auto auto;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 100%;
    padding: 1.5%;
}
.advert > div {
    color: brown;
}


body {
    /* temporary background colour*/
    background-color: wheat;
}

hr {
    border: 5px solid brown;
}

img {
    border-radius: 5%;
    object-fit: cover;
    width: 100px;
    height: 100px;
}

h3 {
    text-transform: uppercase;
}