#beader {
    position: sticky;
    width: 100%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    /* temporary background colour*/
    background-color: brown;
}
#beader > div a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 20%;
    height: 90%;
    padding: 0 10px;
    background-color: brown;

    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}
#beader > div a:hover {
    color: wheat;
}

#Main {
    position: relative;
    width: 100%;
    height: auto;
    /* temporary background colour*/
    background-color: blue;
}

#mostRecent {
    background-color: burlywood;
}
#mostRecent > div {
    text-align: center;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(227, 145, 116);
    margin: auto;
    width: 50%;
}



.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid > div {
    margin: auto;
    background-color: burlywood;
    color: brown;
    width: 90%;
}


body {
    /* temporary background colour*/
    background-color: wheat;
}

hr {
    border: 5px solid brown;
}