<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for( 'static', filename = 'styles.css' ) }}">
    <title>FindMYstuff</title>
</head>
<body>
    <div id="Header">
        <div id="topRow"></div>
        <div id="bottomRow">
		</div>
    </div>
    <hr>
    <div id="Main">
        <div class="grid">
        </div>
    </div>
    <script src="{{ url_for( 'static', filename = 'scripts/index.js' ) }}"></script>
</body>
</html>