
<link rel="stylesheet" href="{{ url_for( "static", filename = "autocomplete.css" ) }}">
<form action="" method="" enctype="multipart/form-data" autocomplete="off" >
	<label for="post_title">Post title:</label>
	<input type="text" id="post_title" name="post_title" required>
	<br>

	<label for="post_tags">Post tags:</label>
	<div class="autocomplete">
		<input type="text" id="post_tags" name="post_tags" required>
	</div>	
	<br>

	<label for="post_images">Post images:</label>
	<input type="file" id="post_images" name="post_images" accept="image/*" multiple required>
	<br>

	<div id="image_preview_holder"></div>	
	<br>
	<div id="forButtons">

	</div>
	<br>
	<input type="submit" value="Post!">

</form>

<script type="text/javascript" src="{{ url_for( "static", filename = "scripts/autocomplete.js" ) }}"></script>
<script type="text/javascript">

	const upload = document.getElementById( "post_images" )
	const image_holder = document.getElementById( "image_preview_holder" )
	const forButtons = document.getElementById("forButtons")
	let files = upload.files

	function remove(what){

	}
	function makeButton(){
		let removeButton = document.createElement("button")
		removeButton.onclick = () => {remove(i)}
		removeButton.innerHTML = "Remove picture"
		removeButton.style.width = 50 + "px";
		forButtons.append(removeButton)
	}
	upload.onchange = event => {
		pictures=0;
		while ( image_holder.firstChild ) { image_holder.removeChild( image_holder.lastChild ) }
		while ( forButtons.firstChild ) { forButtons.removeChild( forButtons.lastChild ) }
		
		console.log( upload.files )

		const files = upload.files
		for ( let i = 0; i < files.length; i++ ) {
			if ( i > 4) break;
			
			let img = document.createElement( "img" )
			img.style = "max-width: 150px; max-height: 150px"
			image_holder.append( img )
			// img.onload= makeButton()
			img.src = URL.createObjectURL( files[ i ] )

		}
		//i dont care anymore
	}

	bind_tag_autocomplete( document.getElementById( "post_tags" ) )

</script>

