
<link rel="stylesheet" href="{{ url_for( "static", filename = "autocomplete.css" ) }}">
<script type="text/javascript" src="{{ url_for( "static", filename = "scripts/autocomplete.js" ) }}"></script>

<form action="" autocomplete="off" method="get">
	<label for="search_tags">Tags: </label>
	
	<div class="autocomplete">
		<input type="text" id="search_tags" name="query" value="{{ search_term }}" required>
	</div>

	<br>
	<input type="submit" value="Search">
</form>

<script>
	bind_tag_autocomplete( document.getElementById( "search_tags" ) )
</script>

{% if results %}
	<h2>Search results: </h2>
	<ul>
		{% for post in results %}
			<li><strong>{{post.title}}</strong></li>
		{% endfor %}
	</ul>
{% endif %}