

<form action="" method="post" enctype="multipart/form-data">
	<label for="post_title">Post title:</label>
	<input type="text" id="post_title" name="post_title">
	<br>

	<label for="post_tags">Post tags:</label>
	<input type="text" id="post_tags" name="post_tags">
	<br>

	<label for="post_images">Post images:</label>
	<input type="file" id="post_images" name="post_images" accept="image/*" multiple>
	<br>

	<div id="image_preview_holder"></div>	
	<br>

	<input type="submit" value="Post!">

</form>

<script>

	const upload = document.getElementById( "post_images" )
	const image_holder = document.getElementById( "image_preview_holder" )
	upload.onchange = event => {
		while ( image_holder.firstChild ) { image_holder.removeChild( image_holder.lastChild ) }
		
		console.log( upload.files )

		const files = upload.files
		for ( let i = 0; i < files.length; i++ ) {
			if ( i > 4) break;
			let img = document.createElement( "img" )
			img.style = "max-width: 100px; max-height: 100px"
			image_holder.append( img )
			img.src = URL.createObjectURL( files[ i ] )
		}

	}

</script>

