<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>FindMYstuff</title>
</head>
<body>
    <div id="Header">
        <div id="topRow"></div>
        <div id="bottomRow"></div>
    </div>
    <div id="Main">
        <div id="reacent">
            <div id="reacentHead"></div>
            <div id="reacentBody"></div>
        </div>
        <div id="allItems">
            <div id="itemHead"></div>
            <div id="itemBody"></div>
        </div>
        <div id="catagories">
            <div id="commonHead"></div>
            <div id="commonBody"></div>
            <div id="listHead"></div>
            <div id="listBody"></div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>